:root {
  --color-primario: rgb(30, 42, 48);
  --color-secundario: #ba9c55;
  --tamano-texto: 16px;
}
html {
  overflow-y: scroll;
}

* {
  font-family: quicksand;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Inicio Estilos Header */
.navbar {
  background-color: var(--color-primario);
}
.navbar-toggler {
  background-color: #ffffff !important;
}
.nav-link.active {
  background-color: rgb(94, 104, 104);
  border-radius: 5px;
  transition: ease-in 0.2s;
}
.logo {
  object-fit: cover;
  width: 4rem;
}
/*fin  estilos Header */
.nameInterprise {
  text-transform: capitalize;
  font-size: clamp(0.8rem, 1.5vw, 1.2rem);
  font-style: oblique;
  font-weight: 500;
  color: antiquewhite;
}

/* inicio estilos hero */
.section-hero {
  padding: clamp(2rem, 10vw, 6rem) 0;
}
.btn-primary {
  background-color: var(--color-primario) !important;
  border-color: var(--color-secundario) !important;
}
.btn-secundary {
  background-color: var(--color-secundario) !important;
  color: white !important;
}
.btn-secundary:hover {
  border-color: var(--color-primario) !important;
}
.btn-outline-primary {
  color: var(--color-primario) !important;
  border-color: var(--color-primario) !important;
}

.btn-outline-primary:hover {
  color: #ffffff !important;
  background-color: var(--color-secundario) !important;
}
/*fin  estilos hero */
/* 
inicio estilos cards servicios */
.img-card {
  height: 15rem;
  object-fit: cover;
}
.bg-top-Bar {
  background-color: var(--color-secundario);
}
