@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Swanky+and+Moo+Moo&family=Tagesschrift&display=swap");
:root {
  --color-primario: rgb(30, 42, 48);
  --color-secundario: #ba9c55;
  --tamano-texto: 16px;
}
html {
  overflow-y: scroll;
}

* {
  /* font-family: lato, quicksand; */
  font-family: Montserrat;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.border_Decoration {
  width: 100px;
  height: 8px;
  background-color: var(--color-secundario);
  margin-bottom: 20px;
}
.starsCards {
  color: #ba9c55;
}
.img_icons {
  width: 100%;
  max-width: 230px;
  height: auto;
  display: block;
  object-fit: cover;
}

.customize-btn {
  border-color: rgba(226, 235, 232, 0.443);
}
/*Inicio Estilos Header */
.navbar {
  background-color: var(--color-primario);
}

.navbar-toggler {
  background-color: #ffffff !important;
}
.nav-link.active {
  color: var(--color-secundario) !important;
  transition: ease-in 0.2s;
}
.logo {
  object-fit: cover;
  width: 4rem;
}
/*fin  estilos Header */
.nameInterprise {
  text-transform: capitalize;
  font-size: clamp(0.8rem, 1.5vw, 1.2rem);
  font-style: oblique;
  font-weight: 500;
  color: antiquewhite;
}

/* inicio estilos hero */
.section-hero {
  padding: clamp(2rem, 10vw, 6rem) 0;
}
.bg-primary {
  background-color: var(--color-primario) !important;
}
.text-secondary {
  color: var(--color-secundario);
}
.btn-primary {
  background-color: var(--color-primario) !important;
  border-color: var(--color-secundario) !important;
}
.btn-secundary {
  background-color: var(--color-secundario) !important;
  color: white !important;
}
.btn-secundary:hover {
  border-color: var(--color-primario) !important;
}
.btn-outline-primary {
  color: var(--color-primario) !important;
  border-color: var(--color-primario) !important;
}

.btn-outline-primary:hover {
  color: #ffffff !important;
  background-color: var(--color-secundario) !important;
}
/*fin  estilos hero */
/* 
inicio estilos cards servicios */
.img-card {
  height: 15rem;
  object-fit: cover;
}
.bg-top-Bar {
  background-color: var(--color-secundario);
}
.text-secondary {
  color: var(--color-secundario) !important;
}

.hero-container {
  position: relative;
  width: 100%;
  min-height: 35rem;
  overflow: hidden;
  /* clip-path: polygon(0 0%, 50% 2%, 100% 0%, 100% 100%, 0 100%); */
}

/* La imagen ocupa todo el contenedor */
.images-hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  z-index: 0;
}

/* Capa negra encima de la imagen */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
  pointer-events: none; /* permite clicks a elementos debajo si es necesario */
}
/* Contenedor del texto */
.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
}
/* Texto encima */
.hero-text {
  overflow: hidden;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  color: #fff;
  z-index: 2;
  font-size: 2rem;
  min-width: 300px;
}
